@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    --layout-color1: rgb(231, 230, 225);
    --layout-color2: #f7f6e7;
    --accent-orange-1minus: #f6c08d;
    --accent-orange: #f2a154;
    --accent-orange-1plus: #E47711;
    --accent-marine: rgb(49, 78, 82);
  }

html, body {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--layout-color2);
}

* {
    box-sizing: inherit;
    font-family: 'Poppins', Helvetica, sans-serif;
}

h1 {
    font-size: 5rem;
}

p, a, ul, ol, dl {
    font-size: 1.5rem;
}

li, p {
    line-height: 1.5;
}

.header-overlay {
    height: 100vh;
    width: 100%;
}

.header-overlay-bg {
    height: 100%;
    width: 100%;
}

.header-overlay-bg > svg {
    height: 100%;
    width: 100%;
}

.svg-circle {
    fill: var(--accent-orange);
    transition-property: r;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.header-container {
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.header-description {
    padding: 2rem;
    margin-bottom: 5%;
}

.header-description h1 {
    color:var(--accent-marine) ;
    margin-bottom: 1rem;
}

.header-description h1 span {
    display: block;
    font-size: 6rem;
    line-height: 7.5rem;
}

.header-description p span {
    display: block;
    width: fit-content;
    background-color:#66666686;
    color: #f4f4f4;
    font-size: 2rem;
    margin: 0.75rem;
    line-height: 2.5rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.header-button {
    width: 12rem;
    height: 12rem;
    z-index: 4;
    border: 2px solid var(--accent-marine);
    margin: 0 2rem 2rem 2rem;
    border-radius: 50%;
    box-sizing: inherit;
    cursor: pointer;
    color: var(--accent-marine);
    transition-property: border-color background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.header-button:hover {
    background-color: var(--accent-orange);
    border-color: var(--accent-orange);
    transition-property: border-color background-clor;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.header-button > a {
    width: inherit;
    height: inherit;
    margin: -2px 0 0 -2px;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-decoration: none;
    color: var(--accent-marine);
}

.header-button > a > span{
    display: block;
    font-weight: 600;
    letter-spacing: 0.2rem;
}    

.header-button > a:hover {
    color: var(--accent-marine);
}    

.header-button > a:link {
    text-decoration: none;
}

.header-button > a:visited {
    text-decoration: none;
}

.waves {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:200px;
}
  
/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}

@media (max-width: 768px) {
    .waves {
      height:10vh;
      min-height:10vh;
    }
}

.navbar {
    z-index: 3;
    background-color: var(--accent-marine);
    padding: 0 1rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    transition-property: background-color transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.nav-link , .navbar-brand { 
    color: var(--layout-color2); 
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8rem;
}

.nav-link { 
    padding: 0.5rem 1.5rem;
}

.nav-item:hover { 
    background-color: var(--accent-orange);
    cursor: pointer;
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);
    transition-property: background-color transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.nav-link:hover {
    color: var(--accent-marine);
    -webkit-transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    transform: skewX(10deg);
}

.portfolio-heading{
    color: var(--accent-marine);
    text-align: center;
    font-size: 6rem;
    text-decoration: underline;
}

.project-section {
    margin: 5% 5%;
    background-color: var(--accent-marine);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.project-imagebox {
    flex: 1;
    min-width: 300px;
    margin: 1rem;
}

.project-imagebox > img {
    width: 100%;
}

.project-description {
    flex: 1.7;
    min-width: 300px;
    color: var(--layout-color2);
    margin-left: 1rem;
}

.project-description h1 {
    font-size: 4rem;
    margin: 0;
}

.project-description p {
    font-size: 2rem;
}

.project-button-wrapper {
    display: flex;
    width: 100%;
}

.project-button {
    display: inline-block;
    width: 8rem;
    padding: 0.5rem;
    margin: 0 1rem 1rem 0;
    background-color: var(--layout-color1);
    color: var(--accent-marine);
    text-decoration: none;
    text-align: center;
}

.project-button:hover {
    background-color: var(--accent-orange);
}

.project-description-invert {
    margin-right: 1rem;
    text-align: right;
}

.project-button-wrapper-invert {
    justify-content: flex-end;
}

.contact {
    height: 100vh;
    width: 100%;
    background-color: var(--accent-marine);
    text-align: center;
    color: var(--layout-color2);
}

.contact > h1 {
    color: var(--layout-color2);
    text-decoration: underline;
}