
.navbar {
    background:#666;
}

.nav-link , .navbar-brand { 
    color: #f4f4f4; cursor: pointer;
}

.nav-link { 
    margin-right: 1em !important;
}

.nav-link:hover { 
    background: #f4f4f4; color: #666; 
}

.navbar-collapse { 
    justify-content: flex-end;
}

.navbar-toggler {  
    background:#fff !important;
}

.header {
    height: 100vh;
    background: linear-gradient(90deg, hsla(58, 100%, 68%, 1) 0%, hsla(33, 100%, 53%, 1) 100%);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
.description h1 {
    color:#2B2B2B ;
}
.description p {
    color:#666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}
.description button {
    border:1px  solid #F97300;
    background:#F97300;
    color:#fff;
}