:root {
    --layout-color1: #e7e6e1;
    --layout-color2: #f7f6e7;
    --accent-orange-1minus: #f6c08d;
    --accent-orange: #f2a154;
    --accent-orange-1plus: #E47711;
    --accent-marine: #314e52;
  }

html, body {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--layout-color2);
}

* {
    box-sizing: inherit;
}

h1 {
    font-size: 5rem;
}

p, a, ul, ol, dl {
    font-size: 1.5rem;
}

li, p {
    line-height: 1.5;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: var(--accent-marine);
    padding: 0 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-brand {
}

.nav-item {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav-link , .navbar-brand { 
    color: var(--layout-color2); 
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8rem;
}

.nav-link { 
    padding: 0.5rem 1.5rem;
}

.nav-item:hover { 
    background-color: var(--accent-orange-1minus);
    cursor: pointer;
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);
}

.nav-link:hover {
    color: var(--accent-marine);
    -webkit-transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    transform: skewX(10deg);
}

.header {
    height: 100vh;
    background: var(--layout-color2);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2rem;
}

.description h1 {
    color:#2B2B2B ;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.description p {
    color: #f4f4f4;
    font-size: 2rem;
    width: 55%;
    line-height: 1.5;
}

.description span {
    display: inline-block;
    background-color:#66666686;
    color: #f4f4f4;
    margin: .1rem;
    line-height: 2.5rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.button {
    text-decoration: none;
    padding: 12px 20px;
    border: 2px solid #F97300;
    box-sizing: inherit;
    cursor: pointer;
    color: #F97300;
    display: inline-block;
    font-size: 2rem;
}

.button:hover {
    background-color: #F97300;
    border-color: #F97300;
    color:#fff;
    text-decoration: none;
}

.button:link {
    text-decoration: none;
}

.button:visited {
    text-decoration: none;
}